<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">

    <title>게시판</title>
</head>

<body>

    <header th:replace="fragments/common :: menu('book')">

    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h2>게시판</h2>
            <form action="#" th:action="@{/book/form}" th:object="${book}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                        제목 에러 메시지
                    </div>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">저자</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('author')} ? 'is-invalid'" id="author" th:field="*{author}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
                        저자 에러 메시지
                    </div>
                </div>
                <div class="mb-3">
                    <label for="publisher" class="form-label">출판사</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('publisher')} ? 'is-invalid'" id="publisher" th:field="*{publisher}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">
                        출판사 에러 메시지
                    </div>
                </div>
                <div class="mb-3">
                    <label for="isbn" class="form-label">Isbn</label>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('isbn')} ? 'is-invalid'" id="isbn" th:field="*{isbn}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">
                        위치 에러 메시지
                    </div>
                </div>
                                
                <div class="text-end">
                    <a type="button" class="btn btn-primary" th:href="@{/book/list}">취소</a>
                    <button type="submit" class="btn btn-primary">확인</button>
                </div>
            </form>
        </div>
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>